body {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

.heading {
  font-size: 1.2em;
  color: #939393;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 75px);
  background-color: #E2DFDC;
  margin-top: 75px;
}

@media(min-width: 775px) {
  .inner-main-container {
    margin: auto;
    flex-direction: column;
    max-width: 1200px;
    min-width: 700px;
    min-height: calc(100vh - 75px);
  }
}

@media(max-width: 774px) {
  .inner-main-container {
    margin: auto;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    min-height: calc(100vh - 75px);
    padding: 0px 25px 25px 25px;
  }
}

.background-blue {
  background-color: #3454b4;
}

.background-red {
  background-color: #ff3232;
}

.background-green {
  background-color: #66B9BF;
}

.button {
  text-align: center; 
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 9px; 
  width: 100px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 15px;
}

.button:active {
    background-color: #e4e4e4;
}

.small {
    width: 60px;
} 

.small:active {
    background-color: #e4e4e4;
}

.delete-button {
  text-align: center; 
  background-color: #ff3232;
  color: white; 
  border-radius: 5px;
  padding: 7px; 
  width: 100px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.delete-button:active {
  background-color: #44ACA1;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-colmumn {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex: 1;
}

.flex-end {
    justify-content: flex-end;
}
