.paginator-container {
    color: #07889B;
}

.highlighted {
    /* text-decoration: underline; */
    background-color: #66B9BF;
    color: white;
    padding: 0px 10px;
    margin: 0px;
    border-radius: 3px;
}

.no-highlight {
    margin: 0px 10px;
}

.focus-pointer {
    cursor: pointer;
}