:host {
    height: 100%;
}

@media (max-width: 774px) {
    .dashboard-container {
        margin: auto;
        flex-direction: column;
        max-width: 100%;
        min-width: 100%;
        padding: 0px 25px 25px 25px;
    }
}

@media (min-width: 775px) {
    .dashboard-container {
        width: 82%;
        margin: auto;
        flex-direction: column;
        max-width: 1200px;
        min-width: 700px;
        padding: 0px 25px 25px 25px;
    }
}

@media (max-width: 774px) {
    .date-box {
        min-height: 50px;
        min-width: 50px;
        border: 1px solid #66B9BF;
        color: #07889B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
    }
}

@media (min-width: 775px) {
    .date-box {
        min-height: 100px;
        min-width: 100px;
        border: 1px solid #66B9BF;
        color: #07889B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
    }
}

@media (max-width: 774px) {
    .highlighted-date-box {
        min-height: 50px;
        min-width: 50px;
        border: 1px solid #07889B;
        color: #07889B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
        background-color: #07889B;
        color: white; 
    }
}

@media (min-width: 775px) {
    .highlighted-date-box {
        min-height: 100px;
        min-width: 100px;
        border: 1px solid #07889B;
        color: #07889B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0px;
        background-color: #07889B;
        color: white; 
    }
}

@media (max-width: 499px) {
    .large-movie-card {
        display: none;
    }
}

@media (min-width: 500px) {
    .large-movie-card {
        border-radius: 5px;
        padding: 10px; 
        margin: 15px 0px;
    }
}

/* possibly delete? */
/* @media (max-width: 499px) {
    .small-movie-card {
    }
} */

@media (min-width: 500px) {
    .small-movie-card {
        display: none;
    }
}

.dashboard-movie-title {
    font-size: 2.2em;
    margin-right: 25px;
}

.dashboard-linkStyle {
    color: #3454b4;
}

.movie-detail-container {
    color: #07889B;
    margin-left: 15px; 
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

.time-container {
    background-color: #EEAA7B;
    color: white;
    margin-right: 7px;
    padding: 5px 5px;
    border-radius: 25px;
    height: 25px;
    line-height: 16px;
    min-width: 80px;
    text-align: center;
}