.all-showings-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    min-width: 700px;
}

.single-showing {
    margin: 10px;
    text-align: center;
    color: #07889B;
    width: 185px;
    padding-bottom: 5px;
}

.single-showing:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
    background-color: #66B9BF;
    color: white;
    cursor: pointer;
}

.linkStyle {
    color: #07889B;
}