.all-showings-container {
    width: 82%;
    margin: auto;
    background-color: #e4e4e4;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 88.5%;
    max-width: 1200px;
    min-width: 700px;
}

.single-showing {
    width: 20%;
    margin: 10px;
    padding-top: 15px;
    text-align: center;
    /* color: black; */
}

.single-showing:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
    background-color: #44ACA1;
    color: white;
    cursor: pointer;
}