.field-line-theater hr {
    border-bottom: 1px solid #3454b4 !important;
}

.field-line-theater div {
    width: 125px !important;
}

.field-line hr {
    border-bottom: 1px solid #3454b4 !important;
}

.field-line div {
    width: 125px !important;
    height: 40px !important;
    padding-right: 0px !important;
}

.field-line label {
    top: 10px !important;
    height: 40px !important;
}

.field-line input {
    margin-top: 0px !important;
}

.theaterChoice div {
    margin-top: 0px !important;
}

.time-table {
    width: 75%;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.time-table th {
    padding-bottom: 5px;
}

.time-table td {
    margin: 5px;
    padding: 5px;
}

.create-description-container {
    width: 68%;
    margin-left: 25px;
    position: relative;
}

.bottom-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.selectable:hover {
    background-color: #44ACA1;
    cursor: pointer;
}

.selectable:hover td {
    color: white;
}
