.field-line hr {
    border-bottom: 1px solid #3454b4 !important;
}

.time-table {
    width: 60%;
    margin-left: 35px;
}

.time-table th {
    padding-bottom: 5px;
}

.time-table td {
    margin: 5px;
    padding: 5px;
}