.field-line hr {
    border-bottom: 1px solid #3454b4 !important;
}

.field-line div {
    width: 125px !important;
}

.time-table {
    width: 75%;
    margin-left: 35px;
}

.time-table th {
    padding-bottom: 5px;
}

.time-table td {
    margin: 5px;
    padding: 5px;
}

.create-description-container {
    width: 68%;
    margin-left: 25px;
    position: relative;
}