:host {
    min-height: 100%;
}

.privilege-container {
    width: 70%;
    min-height: 30vh;
    background-color: white;
    padding: 25px;
}

.true-highlighted {
    background-color: #44ACA1;
    color: white;
    border-radius: 15px;
}

.false-highlighted {
    background-color: #3454b4;
    color: white;
    border-radius: 15px;
}