.form_container {
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;    
}

.single_movie_container {
    width: 185px;
    margin: 10px;
    text-align: center;
    padding-bottom: 5px;
}

.single_movie_container:hover {
    transform: scale(1.1);
    transition: all 200ms ease-in;
    background-color: #66B9BF;
    color: white;
    cursor: pointer;
}

.linkStyle {
    color: #07889B;
}

.linkStyle:hover {
    color: white;
}