.videos-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.single-video-container {
    margin: 25px 15px 10px 0px;
}

@media (max-width: 774px) {
    .large-video-details-container {
        display: none;
    }
}

@media (min-width: 775px) {
    .large-video-details-container {
        width: 82%;
        max-width: 1200px;
        min-width: 700px;
        margin: auto;
        background-color: #E2DFDC;
        flex-direction: column;
        min-height: calc(100vh - 100px);
        padding: 25px;
        color: #07889B;
    }
}

@media (max-width: 774px) {
    .small-video-details-container {
        margin: auto;
        flex-direction: column;
        max-width: 100%;
        min-width: 100%;
        padding: 0px 25px 25px 25px;
    }
}

@media (min-width: 775px) {
    .small-video-details-container {
        display: none;
    }
}

@media (max-width: 774px) {
    .description-container {
        width: 100%;
        position: relative;
    }
}

@media (min-width: 775px) {
    .description-container {
        width: 65%;
        margin-left: 25px;
        position: relative;
    }
}

@media (max-width: 774px) {
    .overview-subtitle {
        background-color: #E37222;
        color: white;
        padding: 3px;
        width: 100%;
    }
}

.create-showing {
    margin: auto;
    text-align: center; 
    background-color: #66B9BF;
    color: white; 
    border-radius: 5px;
    padding: 9px; 
    width: 200px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 9px;
}

.create-showing:active {
    background-color: #3454b4;
}

.cancel-button:active {
    background-color: #3454b4;
}
