.videos-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.single-video-container {
    margin: 25px 15px 10px 0px;
}

.create-showing-container {
    width: 82%;
    margin: auto;
    background-color: #e4e4e4;
    flex-direction: column;
    min-height: 88.5%;
    padding: 25px;
}

.description-container {
    width: 65%;
    margin-left: 25px;
}